<aside>
  <div class="top">
    <div class="logo">
      <h2>I<span class="danger">VA</span></h2>
    </div>
    <div class="close" id="close_btn">
      <span class="material-symbols-sharp">close</span>
    </div>
  </div>
  <!-- end top -->
  <div class="sidebar">
    <a href="newdashboard.html" class="{{dashClass}}" data-partial="dash">
      <span class="material-symbols-sharp">grid_view</span>
      <h3>Dashboard</h3>
    </a>
    <a href="manualscan" class="{{manualClass}}" data-partial="manualscan">
      <span class="material-symbols-sharp">person_outline</span>
      <h3>Manual Scan</h3>
    </a>
    <a href="/analytic" class ="{{analyticclass}}"data-partial="analytics">
      <span class="material-symbols-sharp">insights</span>
      <h3>Analytics</h3>
    </a>

        <a href="/configuration" class ="{{configclass}}"data-partial="settings">
      <span class="material-symbols-sharp">tune</span>
      <h3>Configuration</h3>
    </a> 
  
    <a href="/makkerchekker" class ="{{checkerClass}}"data-partial="settings">
      <span class="material-symbols-sharp">fact_check</span>
      <h3>Maker Checker</h3>
    </a>

    <a href="#" data-partial="messages">
      <span class="material-symbols-sharp">mail_outline</span>
      <h3>Messages</h3>
      <span class="msg_count">14</span>
    </a>
    <a href="#" data-partial="products">
      <span class="material-symbols-sharp">receipt_long</span>
      <h3>Products</h3>
    </a>
    <a href="#" data-partial="reports">
      <span class="material-symbols-sharp">report_gmailerrorred</span>
      <h3>Reports</h3>
    </a>
    {{!-- <a href="/configuration" class ="{{configclass}}"data-partial="settings">
      <span class="material-symbols-sharp"></span>
      <h3>Configuration</h3>
    </a>
    <a href="/makkerchekker" class ="{{configclass}}"data-partial="settings">
      <span class="material-symbols-sharp"></span>
      <h3>makerchekker</h3>
    </a> --}}
    <a href="setting" data-partial="settings">
      <span class="material-symbols-sharp {{settingClass}}">settings</span>
      <h3>Settings</h3>
    </a>
    <a href="#" data-partial="addProduct">
      <span class="material-symbols-sharp">add</span>
      <h3>Add Product</h3>
    </a>
    <a onclick="logout()">
      <span class="material-symbols-sharp">logout</span>
      <h3>Logout</h3>
    </a>
  </div>
</aside>

<script>

  


 function logout() {
        localStorage.removeItem("username");
         localStorage.removeItem("token");
        window.location.href = "/"; // Redirect to your login page
      }



      

</script>
